name: Publish to PyPI

on:
  push:
    tags:
      - "v*"

jobs:
  pypi-publish:
    name: Upload release to PyPI
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Install uv
      uses: astral-sh/setup-uv@v5
      with:
        version: "latest"

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.12"

    - name: Build package
      run: uv build

    - name: Publish package
      run: uv publish --token ${{ secrets.PYPI_TOKEN }}